[Desktop Entry]
Comment[fr_FR]=
Comment=
Exec=switch_vers_nvidia
GenericName[fr_FR]=
GenericName=
Icon=/home/meloli/switch_amd_nvidia_original/Nvidia-logo.png
MimeType=
Name[fr_FR]=Switch Nvidia
Name=Switch Nvidia
Path=
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
